html, body { height: 100%;
font-family: sans-serif; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 5em;
}

.manual-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

button {
    background-color: #4bff4b;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 10px;
}

input {
    font-size: 1.5em;
    margin-bottom: 100px;
}